.box {
  float: left;
  margin-right: 15px;
}
.box-right {
  display: block;
  float: right;
  margin-left: 15px;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.p-datatable-header {
  padding: 5px !important;
  background-color: white !important;
  border: 1px solid #eee !important;
}

th,
td {
  font-size: small;
  padding: 3px !important;
}
td {
  padding: 3px !important;
  height: 20px !important;
}
