<div class="flex">
  <div class="row">
    <label for="projects">Proje</label>
    <input
      pInputText
      type="text"
      class="p-inputtext-sm"
      readonly
      [(ngModel)]="projectName"
    />
  </div>
  <div class="row">
    <label for="clientInput">Cariler</label>
    <p-dropdown
      #clientInput
      [options]="clientList"
      [(ngModel)]="clientRef"
      [style]="{ width: '100%' }"
      optionLabel="name"
      optionValue="id"
      [editable]="true"
      appendTo="body"
    ></p-dropdown>
  </div>
  <div class="row">
    <label for="descriptionInput">Açıklama</label>
    <p-dropdown
      #descriptionInput
      [options]="descriptionList"
      [(ngModel)]="description"
      [style]="{ width: '100%' }"
      optionLabel="name"
      optionValue="name"
      [editable]="true"
      appendTo="body"
    ></p-dropdown>
  </div>
  <div class="row">
    <label for="calendar">Tarih</label>
    <p-calendar
      #calendar
      [(ngModel)]="date"
      class="date"
      dateFormat="dd/mm/yy"
      [style]="{ width: '100%' }"
      [inline]="false"
      appendTo="body"
    ></p-calendar>
  </div>
  <div class="row">
    <label for="quantityInput">Miktar</label>
    <p-inputNumber
      #quantityInput
      [(ngModel)]="quantity"
      inputId="minmax"
      mode="decimal"
      [min]="0"
      [max]="100"
      [style]="{ width: '100%' }"
    >
    </p-inputNumber>
  </div>
  <div class="row">
    <label for="priceInput">Fiyat</label>
    <p-inputNumber
      #priceInput
      [(ngModel)]="price"
      inputId="minmax"
      mode="decimal"
      [min]="0"
      [style]="{ width: '100%' }"
    >
    </p-inputNumber>
  </div>
  <div class="row" style="margin-top: 20px !important">
    <button pButton pRipple label="Kaydet" (click)="onSaveClick()"></button>
  </div>
</div>
